@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: CriqueGrotesk-Regular;
    src: url("../public/fonts/CriqueGrotesk.otf") format("opentype");
}
@font-face {
    font-family: CriqueGrotesk-light;
    src: url("../public/fonts/CriqueGroteskDisplay-Light.otf") format("opentype");
}
@font-face {
    font-family: CriqueGrotesk-bold;
    src: url("../public/fonts/CriqueGrotesk-Black.otf") format("opentype");
}
@font-face {
    font-family: CriqueGrotesk-italic;
    src: url("../public/fonts/CriqueGroteskDisplay-Italic.otf") format("opentype");
}
@font-face {
    font-family: CriqueGrotesk-mediumItalic;
    src: url("../public/fonts/CriqueGrotesk-MediumItalic.otf") format("opentype");
}
@font-face {
    font-family: CriqueGrotesk-med;
    src: url("../public/fonts/CriqueGroteskDisplay-Medium.otf") format("opentype");
}
@font-face {
    font-family: CriqueGrotesk-Regular;
    src: url("../public/fonts/CriqueGrotesk.otf") format("opentype");
}

.video-class{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}

.stopTheImage{
    z-index: 999;
    position: absolute;
    right: 80%;
}
.captureTheImage{
    z-index: 999;
    position: absolute;
    left: 80%;
}